* {
	margin:0px;
	padding: 0px;
}
body {
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
	height: 100px;
}
.container {
	max-width: 1366px;
	margin:0 auto;
}
header, footer {
	width:100%;
}
header {
	border-bottom: 1px solid #222;
    background: url('../img/bg-image-1.jpg');
    background-size: 1366px;
    background-repeat: no-repeat;
	height: 500px;
}
header .bg-image-1 {
	background: url('../img/bg-image-1.jpg');
}
header .bg-image-2 {
	background: url('../img/bg-image-2.jpg');
}
header .bg-image-3 {
	background: url('../img/bg-image-3.jpg');
}
header .bg-image-4 {
	background: url('../img/bg-image-4.jpg');
}
@media screen and (min-width: 1366px) {
	header {
		background-size: 100%;
	}
}
.logo {
	color: #ECECEC;
    border: solid 3px;
    width: 60px;
    height: 60px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 35px;
    left: 35px;
    float:left;
}
.logo div.first, .logo div.second {
	 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    font-size: 20px;
    display: inline-block;
    position: absolute;
}
.logo .first {
	top:15px;
	left:7px;
}
.logo .second {
	top:17px;
	left: 39px;
}
.logo .divider {
	width: 18px;
    border-bottom: solid 3px;
    height: 1px;
    top: 27px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: 22px;
}
header nav {
	float:right;
	margin: 0px 100px 0 0;
	clear:both;
}
header nav ul {
	list-style: none;
}
header nav li {
	display: inline-block;
    padding: 8px;
    background-color: rgba(255,255,255,0.3);
    min-width: 100px;
    text-align: center;
    border: solid 1px #ECECEC;
    -moz-transition: all .2s linear;
    /* WebKit */
    -webkit-transition: all .2s linear;
    /* Opera */
    -o-transition: all .2s linear;
    /* Standard */
    transition: all .2s linear;
}

header nav ul li:hover {
	background-color: #333;
}
header nav ul li:hover a {
	color:#FFF;
}
header nav ul a {
	color: #ECECEC;
	text-decoration: none;
	-moz-transition: all .2s linear;
    /* WebKit */
    -webkit-transition: all .2s linear;
    /* Opera */
    -o-transition: all .2s linear;
    /* Standard */
    transition: all .2	s linear;
}
header .title {
	color: #FFF;
    text-align: center;
    position: relative;
    top: 250px;
}
.footer-top {
	width:100%;
	height:120px;
	background-color: rgb(84, 107, 134); 
}
.footer-top .logo-container{
	width: 222px;
    margin: 0 auto;
    color: #ECECEC;
    height: 100%;
}
.footer-top .logo {
	color: #ECECEC;
    top: -40px;
    left: 32px;
    margin:50px;
}
.footer-top .firstname {
	position: relative;
    top: 51px;
    left: 5px;
}
.footer-top .lastname {
	position: relative;
    top: 33px;
    left: -3px;
}
.footer-main {
	background-color:rgb(52, 67, 86);
	height: 85px;
	text-align: center;
	padding-top:65px;
}
.footer-main nav li {
	background-color: transparent;
	border: none;
	display: inline-block;
}
.footer-main nav li:after {
	content: '-';
	color: #ECECEC;
	margin:0 4px 0 10px;
}
.footer-main nav li:last-child:after {
	content: '';
	margin: 0;
}
.footer-main nav li a{
	color:#ECECEC;
	text-decoration: none;
}
.footer-main nav ul li a:hover {
	color:#FFF;
}




.content {
	margin:50px;
}