.post {
	h1 {
		font-weight: 700;
    	text-shadow: #CCC .1em .1em .2em;
    	color: #333;
	}
	.meta {
		line-height: 40px;
    	color: #999;
	}
	p {
		line-height: 1.5em;
    	font-family: Arial;
    	padding-bottom: 1em;
    	color: #333;
	}
}