a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

a.pseudo-class-visited,
.link.pseudo-class-visited {
  color: #025F8E;
  text-decoration: none;
}

a.pseudo-class-active,
.link.pseudo-class-active {
  color: #025F8E;
  text-decoration: none;
}

a.pseudo-class-hover,
.link.pseudo-class-hover {
  color: #025F8E;
  text-decoration: none;
}

.button.pseudo-class-focus {
  color: #FFF;
  background-color: #02659a;
}

.button.pseudo-class-hover {
  color: #FFF;
  background-color: #02659a;
}

.button.pseudo-class-active {
  color: #FFF;
  background-color: #02659a;
}

.button.pseudo-class-active.pseudo-class-hover,
.button.pseudo-class-active.pseudo-class-focus,
.button.pseudo-class-active.focus,
.button.active.pseudo-class-hover,
.button.active.pseudo-class-focus,
.open > .button.dropdown-toggle.pseudo-class-hover,
.open > .button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background-color: #014e77;
}

.button.pseudo-class-active {
  background-image: none;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button.disabled.pseudo-class-active,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus,
.button[disabled].pseudo-class-active,
fieldset[disabled] .button.pseudo-class-hover,
fieldset[disabled] .button.pseudo-class-focus,
fieldset[disabled] .button.pseudo-class-active {
  background-color: #c8cbcc;
}

.icon-button.pseudo-class-focus {
  color: #FFF;
  background-color: #02659a;
}

.icon-button.pseudo-class-hover {
  color: #FFF;
  background-color: #02659a;
}

.icon-button.pseudo-class-active {
  color: #FFF;
  background-color: #02659a;
}

.icon-button.pseudo-class-active.pseudo-class-hover,
.icon-button.pseudo-class-active.pseudo-class-focus,
.icon-button.pseudo-class-active.focus,
.icon-button.active.pseudo-class-hover,
.icon-button.active.pseudo-class-focus,
.open > .icon-button.dropdown-toggle.pseudo-class-hover,
.open > .icon-button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background-color: #014e77;
}

.icon-button.pseudo-class-active {
  background-image: none;
}

.icon-button.disabled.pseudo-class-hover,
.icon-button.disabled.pseudo-class-focus,
.icon-button.disabled.pseudo-class-active,
.icon-button[disabled].pseudo-class-hover,
.icon-button[disabled].pseudo-class-focus,
.icon-button[disabled].pseudo-class-active,
fieldset[disabled] .icon-button.pseudo-class-hover,
fieldset[disabled] .icon-button.pseudo-class-focus,
fieldset[disabled] .icon-button.pseudo-class-active {
  background-color: #c8cbcc;
}

.add-to-cart-button.pseudo-class-focus {
  color: #FFF;
  background: #025f8e;
}

.add-to-cart-button.pseudo-class-hover {
  color: #FFF;
  background: #0286CD;
}

.add-to-cart-button.pseudo-class-active {
  color: #FFF;
  background: #025f8e;
}

.add-to-cart-button.pseudo-class-active.pseudo-class-hover,
.add-to-cart-button.pseudo-class-active.pseudo-class-focus,
.add-to-cart-button.pseudo-class-active.focus,
.add-to-cart-button.active.pseudo-class-hover,
.add-to-cart-button.active.pseudo-class-focus,
.open > .add-to-cart-button.dropdown-toggle.pseudo-class-hover,
.open > .add-to-cart-button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background: #025f8e;
}

.add-to-cart-button.pseudo-class-active {
  background-image: none;
}

.add-to-cart-button.disabled.pseudo-class-hover,
.add-to-cart-button.disabled.pseudo-class-focus,
.add-to-cart-button.disabled.pseudo-class-active,
.add-to-cart-button[disabled].pseudo-class-hover,
.add-to-cart-button[disabled].pseudo-class-focus,
.add-to-cart-button[disabled].pseudo-class-active,
fieldset[disabled] .add-to-cart-button.pseudo-class-hover,
fieldset[disabled] .add-to-cart-button.pseudo-class-focus,
fieldset[disabled] .add-to-cart-button.pseudo-class-active {
  background: #c8cbcc;
  border: #c8cbcc;
}

.text-input.pseudo-class-focus {
  border-bottom: solid 0.2308em #000;
}

.text-input.pseudo-class-disabled {
  color: #c8cbcc;
}

.dropdown-toggle.pseudo-class-focus {
  outline: 0;
}

.dropdown-menu.inner li a.pseudo-class-hover,
.dropdown-menu.inner li a.pseudo-class-focus {
  border-bottom: solid 2px #025f8e;
  color: #025f8e;
  outline: 0;
  padding: 10px 10px 9px 15px;
}

.select-size .dropdown-menu.inner li a.pseudo-class-hover,
.select-size .dropdown-menu.inner li a.pseudo-class-focus {
  border: solid 1px #025f8e;
  border-bottom: solid 2px #025f8e;
  color: #025f8e;
  outline: 0;
}

.select-size .dropdown-menu.inner li a.pseudo-class-hover span.pseudo-class-first-child,
.select-size .dropdown-menu.inner li a.pseudo-class-focus span.pseudo-class-first-child {
  padding: 10px 5px 5px;
}

.select-size .dropdown-menu.inner li a span.pseudo-class-first-child {
  padding: 10px 5px 6px;
  display: block;
}

.dropdown-toggle.pseudo-class-focus {
  outline: 0;
}

.dropdown-menu > li > a.pseudo-class-hover,
.dropdown-menu > li > a.pseudo-class-focus {
  text-decoration: none;
  color: #FFF;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a.pseudo-class-hover,
.dropdown-menu > .active > a.pseudo-class-focus {
  color: #000;
  text-decoration: none;
  outline: 0;
  background-color: #FFF;
}

.dropdown-menu > .disabled > a.pseudo-class-hover,
.dropdown-menu > .disabled > a.pseudo-class-focus {
  color: #c8cbcc;
}

.dropdown-menu > .disabled > a.pseudo-class-hover,
.dropdown-menu > .disabled > a.pseudo-class-focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default;
}

nav li.nav-item.pseudo-class-hover {
  background-color: #FFF;
  color: #000;
}

nav li.nav-item.pseudo-class-hover .subnav {
  top: 48px;
}

nav li.cart.pseudo-class-hover,
nav li.account.pseudo-class-hover {
  background-color: #FFF;
  color: #000;
}

nav li.search a.pseudo-class-hover {
  background-color: #0286CD;
  color: #FFF;
}

footer li a.pseudo-class-visited {
  color: #000;
  font-size: 0.813em;
  line-height: 1.769em;
}