a.pseudo-class-visited,
.link.pseudo-class-visited {
  color: #5d5d5d;
  text-decoration: none;
}

a.pseudo-class-active,
.link.pseudo-class-active {
  color: #c71432;
  text-decoration: underline;
}

a.pseudo-class-hover,
.link.pseudo-class-hover {
  color: #c71432;
  text-decoration: underline;
}

.button.pseudo-class-focus {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.button.pseudo-class-hover {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.button.pseudo-class-active {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.button.pseudo-class-active.pseudo-class-hover,
.button.pseudo-class-active.pseudo-class-focus,
.button.pseudo-class-active.focus,
.button.active.pseudo-class-hover,
.button.active.pseudo-class-focus,
.open > .button.dropdown-toggle.pseudo-class-hover,
.open > .button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background-color: #ec4561;
  text-decoration: none;
}

.button.pseudo-class-active {
  background-image: none;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button.disabled.pseudo-class-active,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus,
.button[disabled].pseudo-class-active,
fieldset[disabled] .button.pseudo-class-hover,
fieldset[disabled] .button.pseudo-class-focus,
fieldset[disabled] .button.pseudo-class-active {
  background-color: #c8cbcc;
}

.icon-button.pseudo-class-focus {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.icon-button.pseudo-class-hover {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.icon-button.pseudo-class-active {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.icon-button.pseudo-class-active.pseudo-class-hover,
.icon-button.pseudo-class-active.pseudo-class-focus,
.icon-button.pseudo-class-active.focus,
.icon-button.active.pseudo-class-hover,
.icon-button.active.pseudo-class-focus,
.open > .icon-button.dropdown-toggle.pseudo-class-hover,
.open > .icon-button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background-color: #ec4561;
  text-decoration: none;
}

.icon-button.pseudo-class-active {
  background-image: none;
}

.icon-button.disabled.pseudo-class-hover,
.icon-button.disabled.pseudo-class-focus,
.icon-button.disabled.pseudo-class-active,
.icon-button[disabled].pseudo-class-hover,
.icon-button[disabled].pseudo-class-focus,
.icon-button[disabled].pseudo-class-active,
fieldset[disabled] .icon-button.pseudo-class-hover,
fieldset[disabled] .icon-button.pseudo-class-focus,
fieldset[disabled] .icon-button.pseudo-class-active {
  background-color: #c8cbcc;
}

.add-to-cart-button.pseudo-class-focus {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.add-to-cart-button.pseudo-class-hover {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.add-to-cart-button.pseudo-class-active {
  color: #FFF;
  background-color: #e92546;
  text-decoration: none;
}

.add-to-cart-button.pseudo-class-active.pseudo-class-hover,
.add-to-cart-button.pseudo-class-active.pseudo-class-focus,
.add-to-cart-button.pseudo-class-active.focus,
.add-to-cart-button.active.pseudo-class-hover,
.add-to-cart-button.active.pseudo-class-focus,
.open > .add-to-cart-button.dropdown-toggle.pseudo-class-hover,
.open > .add-to-cart-button.dropdown-toggle.pseudo-class-focus {
  color: #FFF;
  background-color: #ec4561;
  text-decoration: none;
}

.add-to-cart-button.pseudo-class-active {
  background-image: none;
}

.add-to-cart-button.disabled.pseudo-class-hover,
.add-to-cart-button.disabled.pseudo-class-focus,
.add-to-cart-button.disabled.pseudo-class-active,
.add-to-cart-button[disabled].pseudo-class-hover,
.add-to-cart-button[disabled].pseudo-class-focus,
.add-to-cart-button[disabled].pseudo-class-active,
fieldset[disabled] .add-to-cart-button.pseudo-class-hover,
fieldset[disabled] .add-to-cart-button.pseudo-class-focus,
fieldset[disabled] .add-to-cart-button.pseudo-class-active {
  background-color: #c8cbcc;
}

.text-input.pseudo-class-focus {
  border-bottom: solid 0.125em #000;
  padding-bottom: 0.563em;
}

.text-input.pseudo-class-disabled {
  color: #c8cbcc;
}

.dropdown-toggle.pseudo-class-focus {
  outline: 0;
}

.dropdown-menu.inner li a.pseudo-class-hover,
.dropdown-menu.inner li a.pseudo-class-focus {
  border-bottom: solid 2px #c71432;
  color: #c71432;
  outline: 0;
  padding: 10px 10px 9px 15px;
}

.select-size .dropdown-menu.inner li a.pseudo-class-hover,
.select-size .dropdown-menu.inner li a.pseudo-class-focus {
  border: solid 1px #c71432;
  border-bottom: solid 2px #c71432;
  color: #c71432;
  outline: 0;
}

.select-size .dropdown-menu.inner li a.pseudo-class-hover span.pseudo-class-first-child,
.select-size .dropdown-menu.inner li a.pseudo-class-focus span.pseudo-class-first-child {
  padding: 10px 5px 5px;
}

.select-size .dropdown-menu.inner li a span.pseudo-class-first-child {
  padding: 10px 5px 6px;
  display: block;
}